# https://getpino.io/#/docs/api?id=level-string
LOG_LEVEL=info

BASE_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000
PRODUCTION_LOG_FILE=production.log
TEST_LOG_FILE=test.log

# Secret for better-auth. Can be replaced with BETTER_AUTH_SECRET.
AUTH_SECRET=

# SMTP configuration
ENABLE_SMTP_MAILER=false
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Example App <no-reply@example.com>"
